@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme] {
	--b1: #fffff; /* Set your preferred light color here */
	background-color: var(--fallback-b1, oklch(var(--b1) / 1));
	color: var(--fallback-bc, oklch(var(--bc) / 1));
}
